INFLUXDB_URL=http://localhost:8086
INFLUXDB_ORG=Dense Technology
INFLUXDB_BUCKET=machine_telemetry
INFLUXDB_TOKEN=tNYlF_D1wJM_SrL-FwkVQff6GTtxnZB36rI364k4AeNLgn8kVjIc67lCAL4L7OQ5xfGJnRkvsWXxHjgaD7p89w==