INFLUXDB_URL=http://localhost:8086
INFLUXDB_ORG=Dense Technology
INFLUXDB_BUCKET=machine_doctor_telemetry
INFLUXDB_TOKEN=ttnnMHlbjHAmEOnEXuee9YPsvSaYsaYyWB2d9uIPjdsTICr-CW_Kox5KnEugF5r3TS5lrEerg5HOjD9Lqi_KaQ==


# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ai_machine_doctor
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Dev@93760s